<h1><%= @cocktail.name %></h1>


  <%= @cocktail.doses.each do |dose| %>
    <%= dose.amount %>
    <%= dose.ingredient.name %>
  <% end %>

<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail)  %>
<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>


